.slide_bar{
    width: 100%;
    /* background-color: var(--primary_color); */
}

.slide_bar_container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 0 12px;
    font-size: 18px;
    overflow: scroll;
}

.slide_bar_item{
    background-color: rgba(var(--primary_color), 0.3);
    color: rgba(var(--primary_color), 0.8);
    border-radius: 10px;
    padding: 2px 12px;
    white-space: nowrap;
}