.slide_bar{
    width: 100%;
    /* background-color: var(--primary_color); */
}

.slide_bar_container{
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 0 15px;
    font-size: 18px;
    overflow: scroll;
}

.slide_bar_item{
    background-color: rgba(var(--primary_color), 0.3);
    color: rgb(var(--primary_color));
    border-radius: 10px;
    padding: 2px 15px;
}